body {
	margin: 10px;
}

a {
  margin:0;
  padding:0;
}


h3 {
  clear: both;
  margin-top: 50px;
}

.pages {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.pages img {
  width: 175px;
  border: 1px solid #000;
  margin-right: -1px;
  margin-bottom: 10px;
}

.break {
	display: block;
	width: 748px;
	background: #fff;
}
.booklet {
  clear: both;
  margin-top:50px;
}

/* Quick and dirty media queries for various Apple devices, 
   which hopefully also covers other phones and tablets */
@media( max-width: 1366px ) { .pages img { width: 225px; } .break { width: 673px;} }
@media( max-width: 1024px ) { .pages img { width: 250px; } .break { width: 748px;} }
@media( max-width: 981px ) { .pages img { width: 240px; } .break { width: 718px;} }
@media( max-width: 800px ) { .pages img { width: 195px; } .break { width: 583px;} }
@media( max-width: 768px ) { .pages img { width: 187px; } .break { width: 559px;} }
@media( max-width: 736px ) { .pages img { width: 179px; } .break { width: 535px;} }
@media( max-width: 694px ) { .pages img { width: 168px; } .break { width: 502px;} }
@media( max-width: 678px ) { .pages img { width: 165px; } .break { width: 493px;} }
@media( max-width: 639px ) { .pages img { width: 310px; } }
@media( max-width: 507px ) { .pages img { width: 242px; } .break { width: 242px;}}
@media( max-width: 438px ) { .pages img { width: 209px; } }
@media( max-width: 414px ) { .pages img { width: 197px; } }
@media( max-width: 375px ) { .pages img { width: 177px; } }
@media( max-width: 320px ) { .pages img { width: 150px; } }


#zoom{
  display: none;
}
#zoom.show {
  display: block;
}
#zoom h2 {
	background: #aaa;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	margin:0;
	padding: 5px;
}
#zoom img {
  width: 100%;
}














