body { 
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#main {
	
}

.page {
	margin-bottom: 50px;
	max-width: 800px;
}

#me h1 {
	margin-bottom:0;
	line-height: 1.2;
	font-weight: normal;
	font-size: 2em;
}
#me p {
	text-align: center;
	margin:0;
}

#intro {
	border: 1px solid #000;
	border-left:0;
	border-right:0;
	margin: 1em 0 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

h1 {
	text-align: center;
}

h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	padding:0;
	margin:0;
}

h2 a, h2 a:visited {
	color: black;
}

#aoe {
	border-bottom: 1px solid #000;
	padding-bottom: 15px;
}

#aoe h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}
#aoe ul {
	columns: 3;
	padding-left: 1em;
	column-gap: 2em;
	column-fill: balance;
}
#aoe li {
	break-inside: avoid-column;
	margin-bottom: 0.7em;
	font-size: 0.85em;
}

#employment h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 2em;
}

#employment h3 {
	font-weight: 200;
	font-size: 2em;
	border-top: 5px dashed #ccc;
	margin-top: 2em;
	padding-top: 2em;
	line-height: 1.2;
}

#employment h2 + h3 {
	border-top: none;
	padding-top: 0;
}

#employment h4 {
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom:0;
	line-height: 1.2;
}

#employment p {
	margin-top:0;
}

#education {
	border-top: 5px dashed #ccc;
	padding-top: 3em;
	margin-top: 3em;
}
#education h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}

#skills {
	border-top: 5px dashed #ccc;
	padding-top: 3em;
	margin-top: 3em;
}

#skills ul {
	padding-left: 0;
}

h3 {
	font-weight: normal;
	font-size: 0.9em;
}

h4 {
	font-size: 0.9em;
	text-transform: uppercase;
	color: #000;
}

li {
	font-size: 0.9em;
}

@media print {
	#sidebar {
		display: none;
	}
	#main {
		display: block;
	}
	.page {
		max-width: none;
	}
	.page > h1 {
		display: none;
	}
	#aoe h2,
	#employment h2,
	#education h2,
	#skills h2 {
		text-align: left;
		margin-bottom: 25px;
	}
	#skills h2 {
		margin-bottom:15px;
		padding-bottom:0;
	}
	#aoe {
		margin-top: 50px; 
		border-bottom:0;
	}
	#skills {
		border-top:0;
		margin-top: 0;
		padding-top:0;
	}
	#aoe ul,
	#skills ul {
		list-style-type: disc;
		margin-left: 1em;
	}
	#aoe li {
		margin:0;
	}
	#employment {
		page-break-before: always;
	}
	#employment h3 {
		border:0;
		page-break-before: always;
		margin-top:0;
		padding-top:0;
	}
	#employment h2 + h3 {
		page-break-before: auto;
	}
	#education {
		border-top:0;
		margin-top:0;
		margin-bottom: 50px;
		padding-top: 0;
		page-break-before: always;
	}
}